@{
    ViewBag.Title = "属性维护";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="main-content">
        <div style="margin-top: 0px;">
            <div class="row" style="margin-top: 0px;">
                <ul id="tabs" class="mtab">
                    <li class="current">
                        <a href="#" id="assetTypeName">设备列表</a>
                    </li>

                </ul>

                <div class="modal-header">
                    <div class="btn_float" style=" margin-left:15px;">
                        <button class="btn btn-primary green" data-toggle="modal" href="#mymodal" id="btnAdd">添加设备</button>
                    </div>
                    <div style="clear:both;"></div>
                </div>
                <table class="table table-striped table-hover table-bordered edit_add tb-h" id="tbPro" style="margin-top: 10px;">
                    <thead id="t_head">
                        <tr>
                      
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>

                <div class="col-sm-12 page_div" style="">
                    <span class="col-sm-2 page_total" style="white-space:nowrap">共有数据：<strong id="userCount"></strong> 条</span>
                    <div id="NavLink" class="paginator pd-20 col-sm-10" style="text-align: center"></div>
                </div>
            </div>
        </div>
        @*<div class="col-md-5">
            <!-- START PANEL -->
            <div class="panel ogr_add">
                <header class="panel-heading add_padding">
                    <span class="label label-primary">
                        设备类型
                    </span>
                </header>
                <div class="panel-body">
                    <div id="menu"></div>
                </div>
            </div>
            <!-- END PANEL -->
        </div>


        <div class="col-md-7" id="floatDiv">
            <div class="panel">
                <header class="panel-heading add_padding">
                    <span class="label label-primary">
                        设备属性维护
                    </span>
                </header>
                <div class="panel-body">
                    <form method="post" name="" id="frmProperty" class="with_validate">
                        
                        @if (true)  //如果有属性值,默认加载出来
                        {
                            <div class="form-group col-sm-12 detail_form">
                                <label class="control-label col-sm-2">
                                    属性名称：
                                </label>
                                <div class=" col-sm-10">
                                    <input type="text" class="form-control" placeholder="请输入属性名称"  name="p1">
                                </div>
                            </div>
                        }
                        else
                        {
                            
                        }

                     
                        
                        
                        <img src="/Images/btn_add.png" id="img_add" title="添加属性" style="width: 2rem; cursor: pointer; margin-left: 5px;" onclick=" AddProperty() ">
                        <img src="/Images/btn_del.png" id="img_del" title="删除拐点坐标" style="width: 2rem; cursor: pointer; margin-left: 0px;" onclick=" DelProperty() ">
                    </form>


                </div>
                
                <div class="btn-group">
                    <button id="btnSave" class="btn btn-primary">保存</button>
                    <button id="btnCancel" class="btn btn-default">返回</button>
                </div>
                
            </div>
        </div>*@
</section>

<script type="text/javascript">
    //增加属性文本框
    function AddProperty() {
        var inputHtml = "<div class=\"form-group col-sm-12 detail_form\">" +
            "<label class=\"control-label col-sm-2\">属性名称:</label><div class=\" col-sm-10\">" +
            "<input type=\"text\" class=\"form-control\" placeholder=\"请输入属性名称\"  name=\"p1\"></div></div>";
        $("#img_add").prev().after(inputHtml);
    }
    //删除属性文本框
    function DelProperty() {
        if ($("#frmProperty").find("input").length > 1) {
            $("#img_add").prevAll("input:lt(2)").remove();
            $("#img_add").prevAll("lable:lt(2)").remove();
            $("#img_add").prevAll("div:eq(0)").remove();
        } else {
            $("#img_add").prev().val("");
            $("#img_add").prev().prev().val("");
        }
    }


    $("#btnSave").click(function () {
        //循环找到文本框中的值
        $("#frmProperty").find("input[type='text']").each(function() {
            alert($(this).val());
        });
    });

</script>