@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/plugins/jeditable/jquery.jeditable.js"></script>
<!-- Data Tables -->
<script src="~/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- 自定义js -->
<script src="~/js/content.js?v=1.0.0"></script>
<style>
    .dataTable th {   
    white-space: nowrap !important;  
}  
</style>
<script type="text/javascript">
    //删除属性文本框
    function DelProperty() {
        if ($("#frmProperty").find("input").length > 1) {
            $("#img_add").prevAll("input:lt(2)").remove();
            $("#img_add").prevAll("lable:lt(2)").remove();
            $("#img_add").prevAll("div:eq(0)").remove();
        } else {
            $("#img_add").prev().val("");
            $("#img_add").prev().prev().val("");
        }
    }
    function initData() {
        $.getJSON("../Property/getPropertyList", { id1: 1, assetTypeID: "3CFD0EFE-9CF6-4E65-A369-073DBF2ED1D0" }, function (data) {
            if (data != "error") {
                var str = "";
                var head_str = "<tr>";
                $("#t_head").html("");
                var column = new Array();
                var columnNum = 0;

                var columnData=[];
                for (var obj in data.aaData[0]) {
                    if (obj == "categoryName") {
                        head_str += "<td style='width:15%'>分类</td>";
                        var col = {};
                        col['data']=obj;
                        columnData.push(col)
                    }
                    else if (obj == "DictionaryId" || obj == "parentAssetTypeID" || obj == "AssetTypeId" || obj == "id" || obj == "Id1" || obj == "CreateTime"
                        || obj == "createby" || obj == "ModifyTime" || obj == "ModifyBy" || obj == "CreateTime") {
                        continue;
                    }
                    else if (obj == "systemCategroyName") {
                        head_str += "<td style='width:15%'>系统分类</td>";
                        var col = {};
                        col['data']=obj;
                        columnData.push(col)
                    }
                    else if (obj == "parentAssetTypeName") {
                        head_str += "<td style='width:15%'>设备类型</td>";
                        var col = {};
                        col['data']=obj;
                        columnData.push(col)
                    }
                    else if (obj == "AssetTypeName") {
                        head_str += "<td style='width:15%'>设备</td>";
                        var col = {};
                        col['data']=obj;
                        columnData.push(col)
                    }
                    else {
                        head_str += "<td style='width:15%'>" + obj + "</td>";
                        column[columnNum] = obj;
                        var col = {};
                        col['data']=obj;
                        columnData.push(col)
                        columnNum++;
                    }
                }
                $("#t_head").append(head_str);

                //for (var i = 0; i < data.length; i++) {
                //    str += "<tr class='gradeA'><td>" + data[i].categoryName + "</td>";
                //    str += "<td>" + data[i].systemCategroyName + "</td>";
                //    str += "<td>" + data[i].parentAssetTypeName + "</td>";
                //    str += "<td>" + data[i].AssetTypeName + "</td>";
                //    for (var j = 0; j < column.length;j++) {

                //        str += "<td>" + data[i][column[j]] + "</td>";
                //    }
                //    str += "<td><a class=\"edit more\" data-toggle=\"modal\" href=\"#mymodal\" onclick=\"Edit('" + data[i].ID + "')\"><span class=\"label label-success \">编辑</span></a>";
                //    str += "<a class=\"edit more\"  href=\"javascript:;\" onclick=\"Delete(this,'" + data[i].ID + "')\"><span class=\"label label-success \">删除</span></a>";
                //    str += "</td></tr>";
                //}
                //$("#t_body").append(str);
             
                var oTable = $('#editable').dataTable({
                    "ajax": {
                        url: "../Property/getPropertyList?assetTypeID",
                        data: { "assetTypeID": "3CFD0EFE-9CF6-4E65-A369-073DBF2ED1D0" },
                        type: "POST"

                    },
                 
                    "bAutoWidth": true,
                    "dataType": "json",
                    "bSort": false,
                    "serverSide": true,
                    "columns": columnData

                });
             
            } else {
                $("#t_body").html("");
            }
     
        });
    }
    $(document).ready(function () {
        initData();
   
    });
</script>
<section id="main-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
              
                <div class="ibox-content">
                    <div class="">
                        <a onclick="fnClickAddRow();" href="javascript:void(0);" class="btn btn-primary ">添加行</a>
                    </div>
                    <table class="table table-striped table-bordered table-hover " id="editable">
                        <thead id="t_head">
                          
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
  
</section>
