@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/ProList.css" rel="stylesheet" />
<link href="~/css/lanrenzhijia.css" rel="stylesheet" />
<link href="/Css/stylep.css" rel="stylesheet" />
<script src="/Scripts/js.js"></script>
<style>
    form {
        display: inline-block !important;
        float: right;
    }

    label {
        margin-top: 0px !important;
    }
</style>


<section id="main-content">
    <div class="container-fluid">
        <div class="row" style="margin-top: 60px;">
            <ul id="tabs" class="mtab">
                <li class="current">
                    <a href="#">用户列表</a>
                </li>

            </ul>

            <div class="modal-header">
                <div class="btn_float" style=" margin-left:15px;">
                    <button class="btn btn-primary green" data-toggle="modal" href="#mymodal" id="btnAdd">添加用户</button>
                </div>
                <div style="clear:both;"></div>
            </div>
            <table class="table table-striped table-hover table-bordered edit_add tb-h" id="tbPro" style="margin-top: 10px;">
                <thead>
                <tr>
                    <th style="width:7%;" class="tab-center">用户名</th>
                    <th style="width:12%;" class="tab-center">账号</th>
                    <th style="width:12%;" class="tab-center">Email</th>
                    <th style="width:20%;" class="tab-center">手机</th>
                    <th style="width:10%;" class="tab-center">详细地址</th>
                    <th style="width:10%;" class="tab-center">创建时间</th>
                    <th style="width:9%;" class="tab-center">操作</th>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>

            <div class="col-sm-12 page_div" style="">
                <span class="col-sm-2 page_total" style="white-space:nowrap">共有数据：<strong id="userCount"></strong> 条</span>
                <div id="NavLink" class="paginator pd-20 col-sm-10" style="text-align: center"></div>
            </div>
        </div>
    </div>
</section>



<div class="modal fade" id="mymodal" style="overflow: auto;margin-top: 50px" >
    <div id="myDiv" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #52acee">
                <button type="button" class="close modal_out" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="text_title">添加用户</h4>
            </div>
            <div class="modal-body" style="height: 320px;">

                <form id="form_regist" class="with_validate">
                    <input type="hidden" id="HidUId" name="HidUId" runat="server" />
                    <div class="clearfix">

                        <div class="col-sm-12 detail_form">
                            <label class="control-label col-sm-3" style="width: 25%">用户姓名:</label>
                            <div class="form-group  col-sm-9" style="padding: 0; width: 75%">
                                <input  type="text" class="form-control" name="txtRealName" id="txtRealName"/>
                            </div>
                        </div>

                        <div class="col-sm-12 detail_form">
                            <label class="control-label col-sm-4" style="width: 20%">登录名:</label>
                            <div class="form-group  col-sm-8" style="padding: 0; width: 80%">
                                <input type="text" class="form-control" name="txtloginName" id="txtloginName" required="required" data-bv-notempty-message="此项为必填项" />
                            </div>
                        </div>
                        
                        <div>
                            <label class="control-label col-sm-4" style="width: 20%">密码:</label>
                            <div class="form-group  col-sm-8" style="padding: 0; width: 80%">
                                <input type="password" class="form-control" name="txtPassword" id="txtPassword" required="required" data-bv-notempty-message="此项为必填项" />
                            </div>
                        </div>

                        <div class="col-sm-12 detail_form">
                            <label class="control-label col-sm-4" style="width: 20%">手机:</label>
                            <div class="form-group  col-sm-8" style="padding: 0; width: 80%">
                                <input type="text" class="form-control" name="txtTel" id="txtTel" required="required" data-bv-notempty-message="此项为必填项" />
                            </div>
                        </div>

                        <div class="col-sm-12 detail_form">
                            <label class="control-label col-sm-4" style="width: 20%">Email:</label>
                            <div class="form-group  col-sm-8" style="padding: 0; width: 80%">
                                <input type="text" class="form-control" name="txtEmail" id="txtEmail" required="required" data-bv-notempty-message="此项为必填项" />
                            </div>
                        </div>


                        <div class="col-sm-12 detail_form">
                            <label class="control-label col-sm-4" style="width: 25%">详细地址:</label>
                            <div class="form-group  col-sm-8" style="padding: 0; width: 75%">
                                <input type="text" class="form-control" name="txtAddress" id="txtAddress" required="required" data-bv-notempty-message="此项为必填项" />
                            </div>
                        </div>
                        
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="margin-top: 0">
                <button class="btn btn-primary choice_en" type="button" id="BtnSubmit" onclick="SaveInfo()">保存</button>
                <button data-dismiss="modal" class="btn btn-primary close_modal  modal_out" type="button" id="BtnCancel">取消</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function() {
        initData(1);
    });
    //初始化数据
    function initData(pageIndex) {
        $.getJSON("../User/GetList", { id1: pageIndex }, function (data) {
            if (data != "error") {
                var str = "";
                $("#tbody").html("");
                for (var i = 0; i < data.T.length; i++) {
                    str += "<tr><td>" + data.T[i].Username + "</td>";
                    str += "<td>" + data.T[i].LoginName + "</td>";
                    str += "<td>" + data.T[i].Email + "</td>";
                    str += "<td>" + data.T[i].Mobile + "</td>";
                    str += "<td>" + data.T[i].Address + "</td>";
                    str += "<td>" + data.T[i].CreateTime + "</td>";  //质保期限

                    str += "<td><a class=\"edit more\" data-toggle=\"modal\" href=\"#mymodal\" onclick=\"Edit('" + data.T[i].UserID + "')\"><span class=\"label label-success \">编辑</span></a>";
                    str += "<a class=\"edit more\"  href=\"javascript:;\" onclick=\"Delete(this,'" + data.T[i].UserID + "')\"><span class=\"label label-success \">删除</span></a>";
                    str += "</td></tr>";
                }
                $("#tbody").append(str);
                $("#userCount").html(data.Total);
                $("#NavLink").html(data.NavPageStr);  //导航链接
                bindNavLinkEvent();
            } else {
                $("#tbody").html("");
                $("#userCount").html(0);
            }
        });
    }


    //保存
    function SaveInfo() {
       $.ajax({
           type: "POST",
           url: '../User/Register',
           data: $("#form_regist").serialize(),

           error: function (request) {
               layer.msg('保存失败!', { icon: 2, time: 1000 });
           },
           success: function (data) {
               if (data == "success") {
                   layer.msg('保存成功!', { icon: 1, time: 1000 });
                   initData(1);
                   $(".modal_out").click();
               } else {
                   layer.msg('保存失败!', { icon: 2, time: 1000 });
               }
                 
           }

       });
    }


    //分页标签点击    //分页标签格式如下：<a class="pageLink" href="?pageIndex=2&pageSize=10">2</a>
    function bindNavLinkEvent() {
        //取得分页标签
        $(".pageLink").click(function () {
            //拿到href值
            var href = $(this).attr("href");
            //得到href中pageIndex的数据
            var pageIndex = href.substr(href.lastIndexOf('?') + 1).substring(href.indexOf('='), href.indexOf('&') - 1);
            //初始化表格
            initData(pageIndex);
            return false;
        });
    }
    //删除
    function Delete(obj, id) {
        //layer.msg(id);
        layer.confirm("确定要删除吗?", function () {
            $.post("../User/Delete", { uid: id }, function (data) {
                if (data == "success") {
                    $(obj).parents("tr").remove();
                    layer.msg("删除成功", { icon: 1, time: 1000 });
                } else {
                    layer.msg("删除失败", { icon: 2, time: 2000 });
                }
                initData(1);
            });
        });
    }

    //编辑
    function Edit(id) {
        $.getJSON("../User/GetSingle", { uid: id }, function (data) {
            if (data != "error") {
                $("#HidUId").val(id);  //编号Id
                $("#txtRealName").val(data.Username); //用户名
                $("#txtloginName").val(data.LoginName);  //登录名
                $("#txtTel").val(data.Mobile);
                $("#txtEmail").val(data.Email);
                $("#txtAddress").val(data.Address);
           
            }
        });
    }


</script>