<style>
    .user {
        color: #fff;
        /*background-color: #d9edf7;*/
        border-color: #bce8f1;
        font-family: '微软雅黑';
        font-size: 14px !important;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        height: 30px;
        float: left;
        margin-left: 50px !important;
        text-align: center;
        margin: 0px;
        /*border: 1px solid #bce8f1;*/
        border-radius: 4px;
    }

    .site-footer {
        padding: 0px !important;
        z-index: 9999999 !important;
    }
</style>
<footer class="site-footer">
    <div style="color: #fff; margin: 0 auto; display: block; padding-left: 15px; padding-right: 15px; width: 100%; height: 30px; line-height: 30px; text-align: center; font-size: 13px !important; background: -webkit-gradient(linear,0 100%,100% 0,from(#1ab394),to(#32A3C1)); "
         title="山洪灾害设备管理运维系统">Copyright © 2018 山西源道力合网络科技有限公司 </div>
</footer>

