<!--sidebar start-->
<style>
    ul li img {
        /*margin-left:20px!important;*/
    }

    ul li span {
        margin-left: 10px !important;
    }
</style>

<aside>
    <div id="sidebar" class="nav-collapse" style="margin-top: 60px;">
       
        <!-- sidebar menu start左侧菜单栏开始-->
        <ul class="sidebar-menu" id="nav-accordion" style="margin-top:20px!important;">
            <li class="sub-menu">
                <a href="javascript:void(0)" id="prolist" onclick="ReturnPage('../Home/Home')">
                    <span class="wdxm">设备管理</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0)" onclick="ReturnPage('../User/Index')">
                    <span class="cdfx">用户管理</span>
                </a>
            </li>
          
        </ul>
        <!-- sidebar menu end左侧菜单栏结束-->
    </div>
</aside>
<!--sidebar end-->
<script type="text/javascript">
    ////跳转到项目页面
    //function TurnToProPage(url) {
    //    if ($("#userName").val() == null || $("#userName").val() == "") {
    //        layer.msg("请先登录！", { icon: 0, time: 2000 });
    //        //setTimeout("ReturnLogin()", 1000);
    //    }
    //    else {
    //        //setTimeout("ReturnPage('" + url + "')", 1000);
    //        window.location.href = url;
    //    }
    //}
    ////跳转到系统参数页面
    //function TurnSysToPage(url) {
    //    if ($("#userName").val() == null || $("#userName").val() == "" || $("#userName").val() != 'admin') {
    //        layer.msg("请先以管理员登录！", { icon: 0, time: 2000 });
    //    }
    //    else {
    //        window.location.href = url;
    //    }
    //}
    ////跳转到其他页面
    //function TurnToPage(url) {
    //    if ($("#userName").val() == null || $("#userName").val() == "") {
    //        layer.msg("请先登录！", { icon: 0, time: 2000 });
    //    }
    //    else if ($("#HidProjectCardID").val() == null || $("#HidProjectCardID").val() == "") {
    //        layer.msg("请新建项目或选择已有项目！", { icon: 0, time: 2000 });
    //    }
    //    else {
    //        window.location.href = url;
    //    }
    //}

    function ReturnPage(url) {
        window.location.href = url;
    }
</script>