<!--sidebar start-->
<style>
    ul li img {
        /*margin-left:20px!important;*/
    }

    ul li span {
        margin-left: 10px !important;
    }
</style>

<aside>
    <div id="sidebar" class="nav-collapse" style="margin-top: 60px;">
       
        <!-- sidebar menu start左侧菜单栏开始-->
        <ul class="sidebar-menu" id="nav-accordion" style="margin-top:20px!important;">
            <li class="sub-menu">
                <a href="javascript:void(0)" id="prolist" onclick="TurnToProPage('../Project/ProList')">
                    <span class="wdxm">我的项目</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0)" onclick="TurnToPage('../Report/Info')">
                    <span class="cdfx">初调分析</span>
                </a>
            </li>
            <li class="sub-menu">
                <a id="xdfx" href="javascript:void(0)" onclick="TurnToPage('../Report/Second')">
                    <span class="xdfx">详调分析</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0)" onclick="TurnToPage('../CAInfo/CAInfo')">
                    <span class="whsb">危害识别</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0)" onclick="TurnToPage('../Pathway/PathwayList')">
                    <span class="blpg">暴露评估</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0)" onclick="TurnToPage('../Pollutant/PollutantVir')">
                    <span class="dxpg">毒性评估</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0)" onclick="TurnToPage('../Report/RiskCharacterization')">
                    <span class="fxbz">风险表征</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0)" onclick="TurnToPage('../UnCertaintyAnalyse/UnCertainty')">
                    <span class="bqdxfx">不确定性分析</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0)" onclick="TurnToPage('../RiskVariable/RiskControlVariable')">
                    <span class="fxkzz">风险控制值</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0)" onclick="TurnSysToPage('../SystemParameter/EnvirQuality')">

                    <span class="xtcs">系统参数</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end左侧菜单栏结束-->
    </div>
</aside>
<!--sidebar end-->
<script type="text/javascript">
    ////跳转到项目页面
    //function TurnToProPage(url) {
    //    if ($("#userName").val() == null || $("#userName").val() == "") {
    //        layer.msg("请先登录！", { icon: 0, time: 2000 });
    //        //setTimeout("ReturnLogin()", 1000);
    //    }
    //    else {
    //        //setTimeout("ReturnPage('" + url + "')", 1000);
    //        window.location.href = url;
    //    }
    //}
    ////跳转到系统参数页面
    //function TurnSysToPage(url) {
    //    if ($("#userName").val() == null || $("#userName").val() == "" || $("#userName").val() != 'admin') {
    //        layer.msg("请先以管理员登录！", { icon: 0, time: 2000 });
    //    }
    //    else {
    //        window.location.href = url;
    //    }
    //}
    ////跳转到其他页面
    //function TurnToPage(url) {
    //    if ($("#userName").val() == null || $("#userName").val() == "") {
    //        layer.msg("请先登录！", { icon: 0, time: 2000 });
    //    }
    //    else if ($("#HidProjectCardID").val() == null || $("#HidProjectCardID").val() == "") {
    //        layer.msg("请新建项目或选择已有项目！", { icon: 0, time: 2000 });
    //    }
    //    else {
    //        window.location.href = url;
    //    }
    //}

    function ReturnPage(url) {
        window.location.href = url;
    }
</script>