@charset "utf-8";
    * {
        padding: 0px;
        margin: 0px;
    }

    html, body {
        width: 100%;
        height: 100%;
        font-family: "微软雅黑";
        font-family: Tahoma !important;
        background: #b1b1b1;
    }

    ul, li {
        list-style: none;
    }

    .container-fluid {
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        overflow:hidden;
    }

    .panel-body {
        padding: 0px !important;
    }

    .panel-heading {
        padding: 6px 15px;
    }

    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
        margin-top: 10px !important;
    }

    .label-primary {
        background-color: #428bca;
        margin: 0 auto;
    }

    .panel {
        /*border: 1px solid #C1C1C1;
        border-top: 4px solid #4BB7C2;*/
    }

    .blue {
        height: 15px;
        width: 5px;
        background: #4BB7C2;
        float: left;
        margin-top: 3px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .bt {
        font-size: 12px;
        background: white;
        color: black;
        margin-top: 10px;
        height: 30px;
    }

    #tabs {
        border-bottom: 1px solid #ddd;
    }
    .btn-primary:hover {
        background: #16c2e4 !important;
        color: !important;
    }
    .td-edit input {
        width: 95%;
        border:1px #ccc solid;
        text-align:right;
        font-size:12px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 4px !important;
    }
    .ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
   
    padding: 5px 2px;

    font-size: 12px;
}
    .ms-container .ms-selectable li.ms-elem-selectable span, .ms-container .ms-selection li.ms-elem-selection span {
    margin-left: 4px !important;
}
.panel-heading {
    background: #ADE3E3 !important; 
    padding: 6px !important; 
    margin: 0px; 
    margin-top: 0px; 
    color:#333;
    font-size:12px;  
    border:0; 
}
 .panel-heading .label {
        color:#666;
    }