@charset "utf-8";
    header {
        min-width:1170px!important;
    }
    label {
        margin-top: 5px;
        font-size: 12px;
    }

    ul.top-menu > li > a {
        color: #fff;
        font-size: 12px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #fff !important;
        padding: 4px 12px;
        margin-right: 15px;
    }

    .desc {
        text-align: left;
        font-size: 12px;
        /*font-family: 微软雅黑;*/
        padding-left:15px;
    }

    .notify-row {
        float: right;
        margin-top: 15px;
        margin-right: 5px;
    }

    .dropdown-menu.extended {
        z-index: 9999999 !important;
    }

    a.logo {
        margin-top: 10px !important;
    }

    .btn {
        padding: 3px 9px !important;
        font-size: 13px !important;
    }
    .dropdown-menu {
        left: -36px!important;
    }
    .notify-arrow {
        left: 200px !important;
    }

 @media (max-width:1360px) {
        .img {
            width: 300px !important;
            height: 60px !important;
            margin-left: 0px!important;
        }
    }
 @media (max-width:1200px) {
       .img {width:212px!important;height:60px!important;margin-left:0px!important;}
    }

.hrxtitle {
    /*font-family: '微软雅黑';*/
    font-size: 12px !important;
    line-height: 25px;
    padding-left: 0px;
    padding-right: 0px;
    height: 25px;
    float: left;
    margin-left: 30px !important;
    text-align: center;
    margin: 15px;
    border: 1px solid transparent;
    color: #333;
    background-color: f8f8f8;
    background-image: linear-gradient(to bottom, #fff, #ddd);
    border-radius: 5px;
    padding: 0 10px;
    border-bottom: 0px solid #fff;
    cursor: pointer;
}
   