
    body {
       background:#fff!important;
    }
    #content {
        padding: 0 !important;
    }

    .container-fluid {
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        overflow:hidden;
    }

    .col-sm-12 {
        /*margin: 0!important;*/
        padding: 0 !important;
    }

    #tabs {
        overflow: hidden;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        /*display: inline-block !important;*/
    }

    .ui-step-item-num span {
        line-height: 2;
    }

    #tabs a {
        padding: 0.6em 0.8em;
    }

    .ui-step-item-num span 
    {
    line-height: 2;
    }

    .btn_float button {
        float: right;
        margin-right: 20px;
        background: #35A4BA;
        padding: 4px 9px !important;
        font-size: 13px;
        border: none;
        border-radius: 7px;
    }

        table {
        color: black !important;
        /*width:94%!important;*/
        margin:0 auto;
    }
    
     /*.pointsRule ul li.green{ background:#1da02b;}*/
    button {
        display: inline-block;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        text-align: center;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #5bc0de;
    }

    .main {
        width: 1000px;
        float: left;
    }

    #step {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .btns {
        float: left;
    }

    .info {
        float: left;
        height: 34px;
        line-height: 34px;
        margin-left: 40px;
        font-size: 28px;
        font-weight: bold;
        color: #928787;
    }
        .info span {
            color: red;
        }
    #nextBtn{
       margin-top:4px!important;
       border-radius:5px;
    }
    .btn-primary:hover {
        background: #16c2e4 !important;
        color: !important;
    }
.fileinput {
    margin-top:5px;cursor:pointer;
}
.input-group-addon {
    padding: 3px 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #35A4BA ;
    border: 0px solid #ccc;
    border-radius: 4px;
}
.input-group-addon:hover {
    background-color: #16c2e4 ;
    color: #fff; 
}

.fileinput .form-control {
    height:26px;
}
.fileinput .form-control {
    padding-top: 4px;
}

