@charset "utf-8";

body {
	margin: 100px auto 0 auto;
	/*font-family: Arial, Helvetica;*/
	font-size: 12px;
	/*background: #444;*/

    font-family: Tahoma !important;
}
#tabs {
	overflow: hidden;
	width: 99.5%;
	margin: 0;
	padding: 0;
	list-style: none;
     border-bottom: 0px solid #ddd;
     margin-left:5px;
}
#tabs li {
	float: left;
	margin: 5px 5px 5px 0;

}
#tabs a {
	position: relative;
	background: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fff, #ddd);
	background-image: -moz-linear-gradient(top, #fff, #ddd);
	background-image: -ms-linear-gradient(top, #fff, #ddd);
	background-image: -o-linear-gradient(top, #fff, #ddd);
	background-image: linear-gradient(to bottom, #fff, #ddd);
	padding: 3px 10px;
	float: left;
	text-decoration: none;
	color: #444;
	/*text-shadow: 0 1px 0 rgba(255, 255, 255, .8);*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);*/
    border:1px #ccc solid;

}
 #tabs a:hover, #tabs a:hover::after, #tabs a:focus, #tabs a:focus::after {
 
}
#tabs a:focus {
	outline: 0;
}
/*
 
 #tabs a::after {
 content:'';
 position:absolute;
 z-index: 1;
 top: 0;
 right: -.5em;
 bottom: 0;
 width: 1em;
 background: #ddd;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
 background-image: -webkit-linear-gradient(top, #fff, #ddd);
 background-image: -moz-linear-gradient(top, #fff, #ddd);
 background-image: -ms-linear-gradient(top, #fff, #ddd);
 background-image: -o-linear-gradient(top, #fff, #ddd);
 background-image: linear-gradient(to bottom, #fff, #ddd);
 -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
 -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
 box-shadow: 0px 2px 2px rgba(0, 0, 0, .4);
 -webkit-transform: skew(10deg);
 -moz-transform: skew(10deg);
 -ms-transform: skew(10deg);
 -o-transform: skew(10deg);
 transform: skew(10deg);
 -webkit-border-radius: 0 5px 0 0;
 -moz-border-radius: 0 5px 0 0;
 border-radius: 0 5px 0 0;
}
*/
 #tabs .current a, #tabs .current a::after {
 background: #32A3C1;
   background: -webkit-linear-gradient(to bottom,#32A3C1,#1C819B);    
   background: -o-linear-gradient(to bottom,#32A3C1,#1C819B); 
   background: -moz-linear-gradient(to bottom,#32A3C1,#1C819B);
   background: linear-gradient(to bottom,#32A3C1,#1C819B);
 color:#fff;
 z-index: 3;
   border:1px #32A3C1 solid;
}
/* ------------------------------------------------- */
    #tabs.mtab {
        margin-top:2px;
        margin-left:5px;
        border-bottom:1px #ddd solid;
    }
    #tabs.mtab li {
        float: left;
        margin: 2px 5px 0 0;
    }
#tabs.mtab a {
	position: relative;
	background: #ddd;
	background-image:none;
	padding: .6em 1.1em;
	float: left;
	text-decoration: none;

	text-shadow: none;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow:none;
    border:1px #f8f8f8 solid;
    border-bottom:0;
   background: #efefef;
 z-index: 3;
 color:#1c2b36;
}
    /*#tabs.mtab a:hover {
        color:#fff;
    }*/
 /*#tabs.mtab a::after {
 content:'';
 position:absolute;
 z-index: 1;
 top: 0;
 right:0;
 bottom: 0;
 width:0em;
 background: none;

 background-image:none;
 box-shadow: none;
 -webkit-transform: skew(0deg);
 -moz-transform: skew(0deg);
 -ms-transform: skew(0deg);
 -o-transform: skew(0deg);
 transform: skew(0deg);
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0 ;
}*/
 #tabs.mtab .current a, #tabs.mtab .current a::after {
     	color: #fff;
         font-weight:bold;
   background: -webkit-linear-gradient(to right,#30A4C0,#1CD8B3);    
   background: -o-linear-gradient(to right,#30A4C0,#1CD8B3); 
   background: -moz-linear-gradient(to right,#30A4C0,#1CD8B3);
   background: linear-gradient(to right,#30A4C0,#1CD8B3);
}

#content {
	background: #fff;
	padding: 2em;
	height: 220px;
	position: relative;
	z-index: 2;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius: 5px;
	/*-moz-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
	box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);*/
}
#content h2, #content h3, #content p {
	margin: 0 0 15px 0;
}
 .table > tbody > tr > td {
    padding: 8px 4px;
}
#content table td {
   font-family: Tahoma !important;
    text-align:center;

}
#content table tbody tr td {
    font-family: Tahoma !important;
    text-align:left;
}
#content table tbody tr td:first-child {
    text-align:center;
}
/* ------------------------------------------------- */

#about {
	color: #999;
}
#about a {
	color: #eee;
}
/*a.proedit,a[title='编辑'] {
    color:#1c59aa;
    display:inline-block;
    padding:1px 5px;
    border-radius:3px;
}*/
a.proedit,a[title='编辑'] {
      display:inline-block;
    padding:1px 5px;
    border-radius:3px;
  background:#32A3C1;
  color:#fff;
}
a.proedit:hover,a[title='编辑']:hover {
  background:#1c59aa;
  color:#fff;
}
/*a.prodel,a[title='删除'] {
    color:#a00000;
    display:inline-block;
    padding:1px 5px;
    border-radius:3px;
}*/
a.prodel,a[title='删除']{
        display:inline-block;
    padding:1px 5px;
    border-radius:3px;
   background:#C42E2E;
  color:#fff;
}
a.prodel:hover,a[title='删除']:hover{
   background:#a00000;
  color:#fff;
}
#formInfo {
    padding:0px!important;
}
/*.modal-header {
    background: #E3F5FC !important; 
    padding: 6px !important; 
    margin: 0px; 
    margin-top: 0px; 
    color:#333;
    font-size:12px;  
}*/
.modal-header {
    /*background: none;*/ 
    padding: 4px !important; 
    margin: 0px; 
    margin-top: 0px; 
    color:#333;
    font-size:12px;  
    /*position:absolute;*/
    right:0;
    top:0;
    border:0 !important;
    background:#ADE3E3!important;
    border-radius: 0px!important;
}


.form-control {
    font-size:12px;
}
label.labelbtn {
    background: transparent; 
    color: #333 !important; 
     height: 20px; 
    box-shadow: none; 
    display: inline-block; 
    border-radius:0px; 
    line-height: 20px; 
    margin-left: 5px;
    padding:0;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 0px;
}
.tb-h {
    border-bottom:0;
}
.tb-h thead tr{
    background:#E3F5FC;

}
.tb-h thead tr th{
   font-weight:normal;

}

.row {
    position:relative;
}
    select.form-control {
        height: 25px;
        padding:3px 5px !important;
    }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
 
    vertical-align: middle;
}