@charset "utf-8";

    table {
        width: 98% !important;
        margin-bottom: 20px;
        margin: 0 auto;
        font-size: 12px !important;
        font-family: Tahoma !important;
    }

    .btn_float button {
        float: right;
        margin-right: 20px;
        background: #35A4BA;
        padding: 4px 9px !important;
        font-size: 13px;
        border: none;
        border-radius: 5px;
    }

    .tab-center {
        text-align: center;
    }

    .table-striped {
        font-weight: normal !important;
        /*font-family: Tahoma !important;*/
    }
    .table td i {
        font-family: Tahoma !important;
        font-style:normal;
    }

    #tabs a {
        padding: .7em 1.1em;
    }
    .btn-primary:hover {
        background: #16c2e4 !important;
        color: !important;
    }
    /*.btn-primary:hover {
        background: white !important;
        color: #35A4BA !important;
    }*/
